{{#author}}
    <div class="action-button" data-action="open-sidebar"><i class="uk-icon-reorder"></i></div>

    <div class="mobile-menu">
        <div class="menu-mobile-options">
            <span class="close">&times;</span>

            {{#if website}}
                <a href="{{ website }}" class="">Visit Website</a>
            {{/if}}

            <a href="{{ url }}rss/" class="" >Subscribe</a>
        </div>
    </div>

    <header class="sidebar-header no-post {{#if cover}}with-cover{{/if}}">
        {{#if cover}}
            <img class="cover-img" data-aload="{{ cover }}" alt="">
            <div class="overlay"></div>
        {{/if}}

        <div class="action-button" data-action="close-sidebar"><i class="uk-icon-reorder"></i></div>
        <div class="action-button" data-action="show-menu"><i class="uk-icon-reorder"></i></div>

        <div class="sidebar-content {{#if cover}}with-cover{{/if}} {{#unless cover}}mate{{/unless}}">
            <div class="inner">

                {{#if image}}<a class="blog-logo" href="{{ @blog.url }}"><img src="{{ image }}" alt="Blog Logo" /></a>{{/if}}

                <h1 class="page-title">{{ name }}</h1>

                {{#if bio}}
                    <h4 class="page-description">{{ bio }}</h4>
                {{/if}}
            </div>

            <div class="pages">

                {{#if website}}
                    <a href="{{ website }}" class="ghost-btn block">Visit Website</a>
                {{/if}}

                <a href="{{ url }}rss/" class="ghost-btn block" >Subscribe</a>
            </div>

            {{> "social"}}

        </div>
    </header>
{{/author}}